body{
  background-image:url("http://www.financeblog.at/wp-content/uploads/sommer.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-color: #cccccc;
  font-family: sans-serif;
font-weight: bold;
}
  .top{
    margin-top: 50px;
    height: 100px;
    text-align: center;
  }
  .body{
    margin: 100px;
    text-align: center;
  }
